* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.titulos {
  color: black;
  font-style: inherit;
  font-size: 30px;
  padding: 20px;
  text-shadow: none;
}

.botonn {
  background-color: black;
  padding: 1rem 2rem;
  color: white;
  align-self: center;
  margin: 10px;
  border: 0;
}
.botonn:hover {
  background-color: rgb(240, 9, 9);
}

.formulari {
  margin-top: 60px;
}

footer {
  color: white;
  padding: 20px;
  background-color: black;
  margin-top: 1rem;
}

footer h4 {
  font-size: 20px;
}

footer p {
  font-size: 13px;
}

.container-fluid {
  background-color: black;
  color: white;
  text-align: center;
  gap: 70rem;
}

.ubicacion {
  padding: 10px;
}

.contacto {
  padding: 0px;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.span {
  margin: 0 0 4px 4px;
}

.icon {
  font-size: 15px;
}

.iconoimg {
  width: 2.5em;
  height: 2.5em;
  border: 0.2em solid transparent;
  border-radius: 0.0625em;
  background: transparent;
}

.iconoimgi {
  width: 2.5rem;
  height: 2.5em;
  border: 0.2em solid transparent;
  border-radius: 0;
}

.certificado {
  padding: 0px;
}

.img-fluid {
  max-width: 8.5rem;
  max-height: 7.5rem;
}

.formulario {
  margin-top: 200px;
}

.entrada {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.form-tit {
  text-align: right;
}

@media (min-width: 614px) {
  .form-tit {
    text-align: center;
  }
  .formulario {
    margin-top: 100px;
  }
}
header {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

header .hlogo {
  max-height: 70px;
  align-self: center;
}

.nav-prev {
  height: 10px;
  background-color: red;
}

.menu {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.705);
  position: fixed;
  z-index: 100;
}

.active {
  color: black;
}

a:active {
  text-decoration: underline;
}

@media (min-width: 614px) {
  .menu {
    background-color: rgba(255, 255, 255, 0.705);
    color: black;
    display: flex;
    padding: 1rem;
    align-items: center;
    font-size: 20px;
  }
  .navmenu ul {
    width: 550px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
.untitulo {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.titulosol {
  text-decoration: dashed;
  display: inline;
}

.carousel-inner {
  width: 100%;
  max-height: 100%;
}

.carousel-inner img {
  object-fit: cover;
}

.card-img-top {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.2s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-title {
  margin-top: 10px;
  text-decoration: dashed;
  color: black;
}

.titulosol {
  text-align: center;
  padding: 60px;
  font-style: inherit;
}

.titulosol h3 {
  font-size: 20px;
  color: black;
}

.nosotros-main {
  margin-top: 60px;
  padding: 50px;
  background-color: white;
}

.nos-contenedor section article {
  padding: 20px;
}

.nos-contenedor section article h2 {
  font-style: inherit;
  text-align: center;
  font-size: 20px;
}

.nos-contenedor section article p {
  text-align: center;
}

.novedades {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: none;
}
.novedades-text {
  text-align: start;
  color: black;
  font-weight: 900;
}
.novedades-img {
  background-color: white;
  width: 100%;
}

.vision-list {
  list-style-type: square;
}

.nos-articulo h2 {
  font-style: oblique;
}

.imglogo {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
}

/* min-widh, se vaya activando a medida que vaya agrandando */
@media (min-width: 1200px) {
  .novedades {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
  }
  .imglogo img {
    display: inline;
    max-width: 300px;
    height: 150px;
    object-fit: cover;
  }
}
.poli-lista {
  list-style-type: square;
}

.poli-lista {
  padding: 2rem;
}

.empresa {
  padding: 40px;
  text-decoration: solid;
}

.politi {
  margin-top: 200px;
}

@media (min-width: 614px) {
  .politi {
    margin-top: 100px;
  }
}
.soluciones {
  background-color: white;
  margin-top: 200px;
}

.imgsol {
  background-color: white;
}

.card {
  border: none;
}
.card-body {
  padding: 0px;
}
.card-title {
  font-size: 25px;
}
.card-text {
  font-size: 16px;
}

.btn {
  display: block;
  max-width: 10rem;
}

.galeria {
  margin-top: 5rem;
  padding: 0;
  background-color: white;
}

.galeria-title {
  color: black;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cont-galeria {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.img-destacada {
  transition: transform 0.2s;
}

.imgal {
  transition: transform 0.2s;
}

.img-destacada:hover {
  transform: scale(1.35);
}

.imgal:hover {
  transform: scale(1.35);
}

@media (min-width: 768px) {
  .cont-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img-destacada {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  .cont-galeria {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
  }
  .cont-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img-destacada {
    grid-column: span 1;
    grid-row: 1/3;
  }
}
@media (min-width: 614px) {
  .soluciones {
    margin-top: 100px;
  }
}
.solupages {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: none;
  background-color: white;
}
.solupages-titulos {
  padding: 15px;
}
.solupages-text {
  color: black;
}
.solupages-img {
  margin-top: 20px;
}

.pat-items {
  list-style-type: square;
}

@media (min-width: 1200px) {
  .solupages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 5px;
  }
}
@media (min-width: 614px) {
  .solupages {
    margin-top: 100px;
  }
}
/* HEADER *

/* HEADER */
/* PORTADA IMAGEN (carroulsel Boostrap) */
/* SOLUCIONES main */
/* NOVEDADES main */
/*COMNETARIO*/
/* CTL+K+C */
/* FOOTER */
/*SOLUCIONES pages*/
/* CONTACTO pages */
/* POLITICAS pages */
/* NOSOTROS pages */

/*# sourceMappingURL=style.css.map */
