* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

body {

    font-family: 'Montserrat', sans-serif;
}



/* HEADER */


header {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(90, 85, 85);
}

header .hlogo {
    padding: 5px;
    height: 100px;

}

.menu {


    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

.active {
    text-decoration: underline;
}


/* header nav ul li a { 

    color: white;
}*/

@media (min-width: 400px) {
    .menu {

        background-color: white;
        color: black;
        display: flex;
        padding: 1rem;
        align-items: center;
        font-size: 20px;
     

    }

    .navmenu ul{
        width: 550px;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

/* HEADER */
/* PORTADA IMAGEN (carroulsel Boostrap) */
.ini_imagen {
    display: flex;
    background-color: hwb(297 4% 11%);
    background-position: center;
    width: 100%;
    height: 450px;

}

.ini-img {
    width: 100%;
    object-fit: cover;

}



/* SOLUCIONES */
.soluciones {
    background-color: hwb(0 99% 1%);

}
.soluciones img{
width:100px;
height: 110px;

}
.soluciones section article {
    display: inline-block;
    justify-content: space-between;
    padding: 100px;
}

.soluciones section h1 {
    text-align: center;
    font-size: large;
    font-size: 30px;
    color: blueviolet;
}

.soluciones section h3 {
    text-align: center;
    font-size: large;
    font-style: oblique;
}

.soluciones section article img {
    width: 100%;
}

/* NOVEDADES */
.novedades {
    display: inline-block;
    width: 100%;
    background-color: hwb(0 99% 1%);



}

.seccion-nove {
    width: 100%;
    margin-block: 10px;
    background-color: hwb(0 99% 1%);
    padding: 12px;


}

.novedades section h3 {
    text-align: center;
    font-size: large;
    font-size: 30px;
}

.contain-nove {
    display: flex;
    background-color: hwb(0 99% 1%);
    padding-block: 80px;

}

.art-nove {
    width: 35%;
    height: auto;
    padding: 0 100px;

}

.art-nove img {
    width: 100%;
    height: 200px;

}


/*COMNETARIO*/
/* CTL+K+C */


/* FOOTER */
.container-fluid {

    background-color: black;
    color: white;
    text-align: center;
}



/*SOLUCIONES*/

.soluciones-body {
    display: inline-block;
}

.soluciones-main {

    padding: 40px;
    background-color: rgb(243, 240, 236);

}

.ensayo {
    width: 29%;
    height: 500px;
    background-color: rgb(248, 253, 253);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-inline: 1%;
    /*margen entre ellos*/
    overflow: auto;

}

.ensayo-img {
    width: 100%;
    /*toma tamaño del padre*/
    height: 200px;
}

.ensayo-titulo {

    font-size: 20px;

}

.ensayo.parrafo {
    font-size: 14px;



}

.ensayo-img,
.ensayo-titulo,
.ensayo.parrafo {
    margin-bottom: 10px;
}

/* CONTACTO */

.contacto-main {
    width: 100%;
    height: 500px;
}

.formulario {
    display: inline-block;
    justify-content: space-between;
    height: 100px;

}

.formulario h1 {
    text-align: center;
}

.form-contacto {
    background-color: white;
    width: 800px;
    border-radius: 8px;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.entrada {
    display: inline-block;
    padding: 10px 10px;


}

/* POLITICAS */

.politicas-sec {
    width: 100%;
    height: 500px;
    padding: 10px;
}

.politicas-sec h2 {
    text-align: center;
    font-size: 20px;
}

.politicas-sec p {
    text-align: center;
    font-size: 15px;
}

/* NOSOTROS */
.nosotros-main {
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
}

.nos-contenedor section article {
    padding: 20px;

}

.nos-contenedor section article h2 {
    text-align: center;
    font-size: 20px;
}

.nos-contenedor section article p {
    text-align: center;

}