.novedades {
    margin-top : 20px;
    margin-bottom : 20px;
    display: flex;
    flex-direction: column;
    text-align: center;



    &-text {
        text-align: start;
        color: black;
        font-weight: 900;


    }
}

/* min-widh, se vaya activando a medida que vaya agrandando */
@media(min-width:1200px) {
    .novedades {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 70px;


    }
}

.titulosol {

    text-align: center;
    padding: 100px;
    color: black;
    font-style: inherit;
    font-size: 30px;


}


.card {
    width: var(--max)
}

.card-img-top {
    max-height: 275px;
    object-fit: fill;
}






.carousel-inner {
    width: 100%;
    height: 490px;

}

.carousel-inner img {
    object-fit: cover;

}