.poli-lista{
    list-style-type:square;

}

.poli-lista{
    padding:2rem;
}

.empresa{
    padding: 40px;
    text-decoration:solid;
   
}

.politi{
    margin-top: 200px;
}

@include mq-poli {


    .politi{
      
       margin-top: 100px;

    }
}