footer {
    padding: 20px;
    background-color: black;
}

footer h1 {
    font-size: 30px;
    text-decoration: underline;
}

.container-fluid {

    background-color: black;
    color: white;
    text-align: center;
    gap: 40rem;
}