.formulario {
    margin-top: 200px;

}

.entrada {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

}
.form-tit{
    text-align: right;
}

@include mq-form {


    .form-tit {
       text-align: center;

    }
    .formulario{
        margin-top: 100px;
    }
}