header {
   
    font-family: 'Montserrat', sans-serif;
    background-color: white;
  
}

header .hlogo {
  
    max-height: 70px;
    align-self: center;

}
.nav-prev{
    height: 10px;
    background-color: red;
}

.menu {

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:$color_nav;
    position: fixed;
z-index: 100;

}

.active {

    color: black;
}

a:active{
    text-decoration:underline;

}




@include mq-nav {

    .menu {

        background-color:$color_nav;
        color: black;
        display: flex;
        padding: 1rem;
        align-items: center;
        font-size: 20px;


    }

    .navmenu ul {
        width: 550px;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}